.hero-title {
    font-size: 2.5rem;
}

.hero-subtitle {
    font-size: 2.5rem;
}

.search-box .form-control {
    height: 50px;
    border-radius: 0;
}

.search-box .btn {
    border-radius: 0;
}
.title-text{
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.card-header {
    text-decoration: none;
    background-color: rgb(165, 161, 161);
    padding:0.5rem;
    border-color: black;
    border:1px;
}
.hightlight-section{
    background-color: rgb(202, 202, 252);
    padding:2vh 0vh;

}
.text-logo {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
footer{
    background-color: aliceblue;
}
*{
    font-family: 'Inter';
}