@model SharedViewModal.ViewModels.HomeViewModel
@foreach (var result in Model.Categories)
{
    <li>
        <a class="dropdown-item" href="store.html?category=fiction">@result.Name</a
        >
    </li>
}